@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

.container-checkin-history-table {
    width: 90%;
    height: 45%;
    padding: 15px 15px 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #FF914D;
    border-bottom: none;
    border-radius: 40px 40px 0 0;
}


.header-container-checkin-history-table {
    width: 100%;
    height: 55px;
    margin-bottom: 10px;
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-container-checkin-history-table > img {
    cursor: pointer;
}

.header-container-checkin-history-table > h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.container-checkin-history-table-overflow {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}