@import url('../../../fonts/styleFonts.css');

.hello-user-card {
    width: 1035px;
    height: 266px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 344px;
    top: 191px;
    background: rgba(255, 145, 77, 0.85);
    border-radius: 40px;
    color: white;
    font: 32px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    padding: 70px;
  }

  .hello-user-content {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding-top: 20px;
    width: 486px;
    height: 45px;
}

.amico {
    position: absolute; 
    top: 20px; 
    right: 20px; 
    width: 286px;
    height: 275.88px;
    bottom: 100%; 
    transform: translateY(-20%);
}
