.container-form-reset-password {
  width: 80%;
  min-width: 280px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Poppins", sans-serif;
}

.form-reset-password-title {
  width: 100%;
  font-size: 45px;
  font-weight: 800;
  margin-bottom: 20px;
  text-align: left;
  color: #ff6707;
}

.form-reset-password-msg {
  font-weight: 500;
  margin-bottom: 20px;
}

.container-form-reset-password > form {
  width: 100%;
}

.btn-right-reset-password {
  width: 100%;
  padding: 10px;
  color: #fff;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ff6707;
  background: linear-gradient(180deg, #ff914d 0%, #ff3131 100%);
}

.form-reset-password-footer-text {
  font-weight: 400;
}
