.configuracoes-container {
    width: calc(100% - 250px);
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;  
    border-radius: 85px 0px 0px 0px;
    background: #EBEBEB;
}