@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

.sidebar {
    width: 250px;
    height: 100%;
    padding: 45px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: width 0.9s ease;
}

.sidebar-header {
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
}

.sidebar-header > img {
    cursor: pointer;
}

.sidebar-list-buttons {
    width: 100%;
    height: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.sidebar-list-buttons-li {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sidebar-footer{
    width: 100%;
    height: min-content;
}

.sidebar-footer ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    list-style: none;
}

.sidebar-footer ul li {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.sidebar-footer ul li h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: white;
}

/* Estilos do collase da sidebar */

.sidebar.collapsed {
    padding: 20px 0px;
    width: 85px;
}

.sidebar.collapsed .sidebar-header-img-logo-nome {
    display: none !important;
}

.sidebar.collapsed .sidebar-header-img-seta-lado-esquerdo {
    display: none !important;
}

.sidebar-header-img-logo-circular {
    height: 60px;
}

.sidebar.collapsed .sidebar-footer ul li {
    justify-content: center;
}

.sidebar.collapsed .sidebar-footer ul li.logout h3 {
    display: none;
}