@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

.container-subline {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1px;
    font-family: 'Poppins';
}

.subline-text-h4 {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    font-weight: 400;
    font-size: 13pt;
}

.subline-text-h6 {
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    font-weight: 200;
    font-size: 10pt;
    opacity: 0.7;
}