@import url('../../../fonts/styleFonts.css');

.search{
    width: 403px;
    height: 40px;
    border: 2px solid #ff914d;
    border-radius: 8px;
    align-items: right;
    background: white;
}

.img-icon {
    padding-left:270px;
}

img {
    height: 50px;
}