.custom-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    position: relative; /* Necessário para que os filhos com position: absolute sejam relativos a este contêiner */
}

.custom-input-label {
    margin-bottom: 2px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.custom-input-field {
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    /* Adiciona espaçamento inferior para garantir que a mensagem de erro não se sobreponha ao texto */
    margin-bottom: 5px;
}

.custom-input-error {
    border-color: red;
}

.custom-input-error-message {
    color: red;
    font-size: 12px;
    position: absolute;
    bottom: -20px; /* Posiciona a mensagem de erro abaixo do input */
    left: 0;
    white-space: nowrap; /* Garante que o texto não quebre em várias linhas */
}