body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    background: linear-gradient(180deg, #FF3131 0%, #FF914D 100%);
}

body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.ul-render {
    display: none;
}

#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.Toastify__toast {
    padding: 0;
}

.Toastify__toast-body{
    padding: 0;
}

/* Estilo global para a largura dos toasts */
.Toastify__toast-container {
    width: min-content;
    padding: 0;
}