@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

.checkin-evoclub-container > * {
    font-family: 'Poppins';
}

.checkin-evoclub-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;  
    border-radius: 85px 0px 0px 0px;
    background: white;
}